name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6.0.2
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag renoma-chat:latest
